<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-regular fa-compass"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a href="/" class="nav-link">Home</a>
        <a href="/listings" class="nav-link">All Listings</a>
        <a href="/listings/new" class="nav-link">Add New Listing</a>
      </div>
      <div class="navbar-nav ms-auto">
        <%if(!currentUser) {%>
        <a href="/signup" class="nav-link">Sign up</a>
        <a href="/login" class="nav-link">Log in</a>
        <%} else {%>
        <a href="/logout" class="nav-link">Log out</a>
        <%} %>
      </div>
    </div>
  </div>
</nav>
