<% layout('layouts/boilerplate') %>
<body>
  <form method="POST" action="/listings">
    <h3>Create a New Listing</h3>
    <input
      type="text"
      placeholder="Enter title"
      name="listing[title]"
      required />
    <br /><br />
    <input
      type="text"
      placeholder="Enter description"
      name="listing[description]"
      required />
    <br /><br />
    <input
      type="text"
      placeholder="Enter image URL"
      name="listing[image]"
      required />
    <br /><br />
    <input
      type="text"
      placeholder="Enter location"
      name="listing[location]"
      required />
    <br /><br />
    <input
      type="text"
      placeholder="Enter country"
      name="listing[country]"
      required />
    <br /><br />
    <input
      type="text"
      placeholder="Enter price"
      name="listing[price]"
      required />
    <br /><br />
    <button type="submit">Create Listing</button>
  </form>
</body>
